@{
    ViewData["Title"] = "Home Page";
}

<div>

    <h1> Please select machine for testing </h1>

    @{
        foreach (BettingOddsTestASPNETCORE.Interfaces.IMachine machine in Model)
        {
            <button class="btn-machine" type="button" id="machineButton" onclick="location.href='@Url.Action("Machine", "BettingMachine", new { ID = machine.ID })'">@machine.Name</button>
        }
    }
</div>